.nav-main{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
position: fixed;
margin: 0;
top: 0;
}
.a1{
  text-decoration: none;
  color:  rgb(2, 2, 52);
  font-size: medium;
  font-weight: bolder;
}
.main-home{
  display: flex;
  flex-wrap: wrap;
  /* padding: 4rem; */
  min-height: 50vh;
  margin-top: 50px;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;

  
}
.main-img{
  flex-wrap: wrap;
  opacity: 0.5;

    position: absolute;
    right: 0;
    top: 90px;
  }
.home-context{
  
  font-size: xx-large;
  color: rgb(2, 2, 52);
  padding: 4rem;

  justify-content: space-between;

}
.main-p{
  font-size: medium;
  color: rgb(15, 15, 134);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.btna{
  flex-wrap: wrap;
  display: flex;
  justify-content: baseline;
  
}
.btn1{
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-weight:200;
  background-color: blue;
  color: rgb(255, 255, 255);
  width: 120px;
  margin-top: 10px;

}
.middle{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;

}

.middle-h1{
  color: rgb(2, 2, 52);
  font-size: 80px;
}
.s1{
  color: rgb(2, 2, 52);
  font-size: 40px;
}
.middle-p{
  font-size: 20px;
  color: rgb(15, 15, 134);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.footer-main{
  display: flex;
  flex-wrap: wrap;
  background-color:  rgb(2, 2, 52);;
  margin-top: 80px;
 
}
.f-h1{
  text-align: center;
padding-left: 0;
width: 1340px;                         ;
padding: 0;
height: 100px;
color: azure;
}
.f-p{
  color: azure;
  padding: 20px;
  text-align: center;
}
.main-about{
  display: flex;
  flex-wrap: wrap;
  
  /* padding: 4rem; */
  /* min-height: 50vh; */
/* 
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between; */
}
.main-a-h1{
  margin-left: 40px;
  font-size: 70px;
  color: rgb(2, 2, 52);
  padding: 4rem;
  margin-top: 40px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
.main-a-h2{
  padding: 2rem;
  color: rgb(2, 2, 52);
  text-transform: uppercase;
 
}
.a-p1{
  padding: 2rem;
  color:  rgb(2, 2, 52);;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
}
.as-1{
  font-style: initial;
  font-weight: bolder;
  font-size: xx-large;


}
/* styles/ContactForm.module.css */
.contactForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
}

label {
  margin-bottom: 10px;
  color:  rgb(2, 2, 52);
  font-weight: bold;
  font-size: 16px;
  
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{

  color: white;
  padding: 10px;
  border-radius: 400px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(2, 2, 52);
  width: 180px;
  font-size: large;

}

button:hover {
  background-color:red;
}

.contact-main{
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  min-height: 50vh;
  margin-top: 50px;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.contact-h1{
  font-size: 60px;
  color: rgb(2, 2, 52);
}
.contact-p{
  font-size: x-large;
  color: rgb(0, 0, 4);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

}
.card {
  width: 250px;
  height: 380px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 25px;
}
.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

.courses-main{
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  text-align: center;
  flex-direction: column;
  align-items: baseline;
}
.courses-h1
{
  font-size: 60px;
  color: rgb(2, 2, 52);
}
.c-name{
  background-color: rgb(2, 2, 52);
  width: 220px;
  height: 160px;
  text-align: center;
padding: 1rem;
  margin-left: 2px;
  color: beige;
  text-transform: capitalize;
  
}
.cr-h1{
  color: whitesmoke;
  padding: 4px;
  text-align: center;
}
.cr-p{
  font-style: italic;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}